/* mainBoxStyles.module.css adjustments (example) */

.box {
  border: 2px solid #2c3e50;
  padding: 20px;
  background-color: #ffffff;
  color: #2c3e50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  max-width: none;
  margin: 5px;
  width: auto;
}

.entryBox {
  display: table;
  table-layout: fixed;
  width: 100%; /* Adjust as needed */

}

.entryBox th, .entryBox td {
  width: 100px; /* Adjust as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease; /* Adjust as needed */

}
.entryBox td:hover {
  background-color: #f5f5f5; /* Change as needed */
}

.scrollableTable {
  overflow-x: auto;
}

@media screen and (max-width: 600px) {
  .entryBox {
    display: block;
    width: 100px; /* Adjust as needed */
  }
}

.heading {
  color: #3498db;
  margin-bottom: 20px;
  text-align: center;
  flex: 1 0 100%;
  font-size: 1.5em;
}

.label, .value {
  text-align: left;
  line-height: 1.5; /* Adjust as needed */
  padding: 0; /* Adjust as needed */
}


.noData {
  color: #2c3e50;
  text-align: center;
  margin-top: 30px;
  font-size: 1.2em;
}

.entryBox th.courseCodeLabel, .entryBox td.course_codeValue {
  width: 50px; /* Adjust as needed */
}

.entryBox th.courseNameLabel, .entryBox td.courseNameValue {
  width: 250px; /* Adjust as needed */
}

.entryBox th.creditsLabel, .entryBox td.creditsValue {
  width: 35px; /* Adjust as needed */
}

.entryBox th.gradeLabel, .entryBox td.gradeValue {
  width: 35px; /* Adjust as needed */
}

.entryBox th.typeLabel, .entryBox td.typeValue {
  width: 35px; /* Adjust as needed */
}

.entryBox th.completionDateLabel, .entryBox td.completion_date {
  width: 50px; /* Adjust as needed */
}