/* HomePage.css */
  
  .box {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
  }
  
  .boxItem {
    flex: 1;
    margin: 10px;
  }
  
  @media (max-width: 600px) {
    .box {
      flex-direction: column;
    }
  }
  