/* src/components/Info.css */
.info {
  border: 1px solid #bdc3c7; /* Light border */
  padding: 15px;
  background-color: #ecf0f1; /* Light gray background */
  color: #2c3e50; /* Dark blue-gray text */
  margin: 10px; /* margin for info boxes */
}

.info h2 {
  color: #3498db; /* Blue heading color */
}

.alignText {
  display: flex;
  flex-direction: column;
}
